<p>
    Add Item:
</p>

<form (submit)="addItem()">

    <input [(ngModel)]="item.title" type="text" name="a" placeholder="Title" required/>
    <br>
    <input [(ngModel)]="item.price" type="number" name="a" placeholder="Price" required/>
    <br>
    <textarea [(ngModel)]="item.detail" name="a" placeholder="Detail" cols="30" rows="10" required></textarea>
    <br>
    <button type="submit">Add Item</button>
</form>


<p>
    Available Items List:
</p>
<div>
    <div *ngFor="let item of items | async" class="item">
        <p><b> {{item.title}}</b></p>
        <p><b>Price:</b> {{item.price}}</p>
        <p><b>Detail:</b> {{item.detail}}</p>
        <input [(ngModel)]="item.bid" placeholder="200" type="number"> <button (click)="bit(item)"> Bid </button>
    </div>
</div>